body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .container {
    text-align: center;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  button {
    font-size: 12px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
  
  #sequence-box {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }

  #numbered-sequence-box{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }

  #clear-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }