<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tracker.css') }}">
    <link rel="stylesheet" href="../static/tracker.css">
    <script src="https://cdn.jsdelivr.net/npm/tone@14.8.0/build/Tone.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/webmidi@latest/dist/iife/webmidi.iife.js"></script>
    <link rel="stylesheet" href="https://webfonts.omenad.net/fonts.css">
    
</head>
<body>
    <h1>Note Tracker</h1>
    
    <div class="controlBtn">
        <button id="play">Play</button>
        <button id="pause">Pause</button>
        <button id="stop">Stop</button>
    </div>

    <!-- Add input for XML file -->
    <label for="xmlInput" class="custom-file-upload">
        <i class="fas fa-cloud-upload-alt"></i> Choose XML File
    </label>
    <input type="file" id="xmlInput" accept=".xml" style="display: none;">

    <div id="notes-container" class="bhatkhande-hindi">
    </div>
    <script src="{{ url_for('static', filename='tracker.js') }}"></script>
    <script src="../static/tracker.js"></script>
</body>
</html>
