<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tracker.css') }}">
    <link rel="stylesheet" href="../static/tracker.css">
    <script src="https://cdn.jsdelivr.net/npm/tone@14.8.0/build/Tone.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/webmidi@latest/dist/iife/webmidi.iife.js"></script>
    <link rel="stylesheet" href="https://webfonts.omenad.net/fonts.css">
</head>
<body>
    <h1>Note Tracker</h1>
    
    <div class="controlBtn">
        <button id="play">Play</button>
        <button id="pause">Pause</button>
        <button id="stop">Stop</button>
    </div>
    
    <div id="notes-container" class="bhatkhande-hindi">
    </div>

    <div class="VolumeContainer">
    <label for="volumeControl" style="color: white;">Volume:  </label>
    <input type="range" id="volumeControl" name="volume" min="-60" max="0" value="0">   
    <script src="{{ url_for('static', filename='tracker.js') }}"></script>
    <script src="../static/tracker.js"></script>
     
</body>
</html>